/* font-family: 'Red Hat Display', sans-serif; */

*{
    margin: 0;
    padding: 0;

}

body {
    background: hsl(225, 100%, 94%) url(images/pattern-background-desktop.svg) no-repeat;
    /* hola */
    
}
.container{
    background: white;
    margin:auto;
    width: 300px;
    height: 450px;
    margin-top: 50px;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    border-radius: 20px;
}

.container_picture{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.container_title { 
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: black;

}

.container_content {
    font-size: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #99A3A4;

}

.container-option {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 250px;
    height: 70px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 8px;


    
}

.container-option_music {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    position: absolute;
    left: 10px;
}
.container-option{
    position: relative;
}


.container-option_plan {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 60px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 13px;

    

}




.container-option_plan_changes {
    display: inline;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    top: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 10px;
    color: hsl(245, 75%, 52%);
    

}

.container-option_plan_op1{
    font-weight: 750;
}

.container-option_plan_op2{
    color: #99A3A4;
}


.container-buttom{
    background-color: hsl(245, 75%, 52%);
    width: 240px;
    height: 33px;
    position: absolute;
    color: white;
    top: 370px;
    left: 30px;
    border-radius: 5px;
    border: #9B59B6;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12px;
    font-weight: 750;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    
}

.container-cancel{
    position: absolute;
    top: 420px;
    left: 115px;
    color: hsl(224, 23%, 55%);
    font-size: 10px;
    font-weight: 750;
}